@import '@/styles/colors';
@import '@/styles/media';

.homeMainRoot {
  width: 100%;
  min-height: 100vh;
  color: $font-light;
  padding: 0px 0px 180px;
  overflow: hidden;

  .carouselContainer {
    margin-top: 16px;

    & > *:not(:first-child) {
      margin-top: 90px;
      
      @include breakpoint(lg) {
        margin-top: 48px;
      }
    }
  
    .cardWrapper {
      min-width: 232px;
      max-width: 232px;

      @include breakpoint(lg) {
        min-width: 180px;
        max-width: 180px;
      }
    }
  }
}
