@import '@/styles/colors';

.sidebarButtonRoot {
  width: 100%;

  .wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    transition: scale 0.3s, color 0.1s;
    scale: 1;
    color: $font-dark;
  
    &:hover {
      color: $font-light;
      scale: 1.05;
    }
  
    .title {
      margin-left: 16px;
      color: inherit;
      width: 100%;
      transition: opacity 0.2s;
    }
  
    .expanded {
      opacity: 1;
    }
  
    .notExpanded {
      opacity: 0;
    }
  
    .logoContainer {
      color: $primary-color;
    }
  }

}