@import '@/styles/colors';

.watchlistMainRoot {
  width: 100%;
  min-height: 100vh;
  color: $font-light;
  padding: 80px 0px 180px;
  overflow: hidden;

  .searchFieldWrapper {
    margin-top: 48px;
    padding-right: 140px;
  }

  .titleWrapper {
    padding-right: 140px;
    display: flex;
    justify-content: center;
    align-items: center;

    .titleText {
      text-align: center;
    }
  }

  .cardGridWrapper {
    margin-top: 80px;

    & > *:not(:first-child) {
      margin-top: 90px;
    }

    .cardWrapper {
      min-width: 232px;
      max-width: 232px;
    }

    .noResultContainer {
      margin-right: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;

      .noResultText {
        margin-top: 4px;
        text-align: center;
      }

      .noResultDetailText {
        color: $font-normal;
        text-align: center;

        .searchTextCTA {
          color: $common-blue;
          text-decoration: underline;
        }
      }
    }
  }
}

