@import '@/styles/colors';

.pageLayoutRoot {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: $background-dark;

  .childrenContainer {
    padding-left: 130px;
    background-color: $background-dark;
  }
}