// ? This store the colors to be used through out the app

$primary-color: #16181f;
$primary-color-dark: #13151b;
$primary-color-darker: #0b0c0f;

$font-light: #e1e6f0;
$font-dark: #737a90;

$background-dark: #0f1014;
$background-darker: #101014