// ? This stores the colors to be used through out the app

$primary-color: #16181f;
$primary-color-light: #1e2029;
$primary-color-lighter: #2c2f3b;
$primary-color-dark: #13151b;
$primary-color-darker: #0b0c0f;

$font-light: #e1e6f0;
$font-normal: #8d96b0;
$font-dark: #737a90;

$background-dark: #0f1014;
$background-darker: #101014;
$background-darkest: #0d0d0f;

$common-white: #ffffff;
$common-grey: #f3f3f3;
$common-grey-dark: #9f9fa1;
$common-grey-darker: #252833;
$common-blue: #3c89fd;
$common-red: #e50914;