// ? This stores the breakpoint mixins to be used through out the app

@mixin breakpoint($breakpoint) {

	@if ($breakpoint == xl) {
		@media only screen and (max-width: 1540px) {
			@content;
		}
	}

	@if ($breakpoint == lg) {
		@media only screen and (max-width: 1240px) {
			@content;
		}
	}

	@if ($breakpoint == md) {
		@media only screen and (max-width: 905px) {
			@content;
		}
	}

	@if ($breakpoint == sm) {
		@media only screen and (max-width: 600px) {
			@content;
		}
	}
}
