@import '@/styles/colors';
@import '@/styles/media';

.heroContentMovieRoot {
  position: relative;
  height: 900px;
  width: 100%;
  transition: opacity 0.5s;

  @include breakpoint(lg) {
    height: 780px;
  }

  img {
    object-fit: cover;
  }

  .content {
    z-index: 3;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .movieDetailContent {
      display: flex;
      flex-direction: column;
      max-width: 480px;
      padding-right: 26px;
      margin: 60px 0px;

      @include breakpoint(lg) {
        max-width: 400px;
        margin: 48px 0px;
      }

      .overviewText {
        margin-top: 20px;
      }

      .detailChipContainer {
        display: flex;
        align-items: center;

        .chipText {
          font-weight: 700;
          text-align: center;
        }

        .circleDivider {
          width: 4px;
          height: 4px;
          border-radius: 50%;
          margin: 0px 10px;
          background-color: $font-dark;
        }

        .language {
          text-transform: uppercase;
        }
      }

      .genreChipContainer {
        display: flex;
        align-items: center;

        .chipText {
          font-weight: 700;
          text-align: center;
        }

        .lineDivider {
          height: 16px;
          border: 0.2px solid $font-dark;
          background-color: $font-dark;
          margin: 0px 10px;
        }

        .language {
          text-transform: uppercase;
        }
      }

      .buttonContainer {
        .button {
          margin-top: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
  
          .logoContainer {      
            img {
              width: 26px;
              height: 26px;
            }
          }
  
          .buttonText {
            margin-left: 8px;
          }
        }
      }
    }
  }

  .ornament {
    position: absolute;
    bottom: -2px;
    z-index: 2;
    height: 910px;
    width: 100%;
    box-shadow: 300px -180px 370px 100px rgba(15,16,20,1) inset;
    -webkit-box-shadow: 300px -180px 370px 100px rgba(15,16,20,1) inset;
    -moz-box-shadow: 300px -180px 370px 100px rgba(15,16,20,1) inset;

    @include breakpoint(lg) {
      height: 790px;

      box-shadow: 240px -180px 370px 100px rgba(15,16,20,1) inset;
      -webkit-box-shadow: 240px -180px 370px 100px rgba(15,16,20,1) inset;
      -moz-box-shadow: 240px -180px 370px 100px rgba(15,16,20,1) inset;
    }
  }
}

.heroMovieShow {
  opacity: 1;
}

.heroMovieHide {
  opacity: 0;
  display: none;
}