@import '@/styles/colors';

.searchMainRoot {
  width: 100%;
  min-height: 100vh;
  color: $font-light;
  padding: 80px 0px 180px;
  overflow: hidden;

  .searchFieldWrapper {
    padding-right: 140px;
  }

  .cardGridWrapper {
    margin-top: 80px;

    & > *:not(:first-child) {
      margin-top: 90px;
    }

    .noResultContainer {
      padding-right: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .noResultText {
        margin-top: 4px;
        text-align: center;
      }

      .noResultDetailText {
        color: $font-normal;
        text-align: center;
      }
    }
  }
}

.cardWrapper {
  min-width: 232px;
  max-width: 232px;
}